/SourceCode/.vs/
/SourceCode/Aow3NameReplacer/bin/
/SourceCode/Aow3NameReplacer/obj/
/SourceCode/Aow3NameReplacer/Aow3NameReplacer.csproj.user
/SourceCode/Aow3NameReplacer/Properties/PublishProfiles/*